.rw-conversation-container .rw-header {
    background-color:#4e9525;
    color:lightyellow;
 }

.rw-conversation-container .rw-client {
    background-color:#4e9525;
 }

.rw-conversation-container .rw-close-button {
    background-color:#4e9525;
 }

.rw-launcher{
    background-color:#4e9525;
 }